*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body{
    color: #ededed;
    }
    
    .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }
    
    .logo{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #ededed;
    text-decoration: none;
    }
    
    .logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    
    }
    
    .navbar a{
    font-size: 18px;
    font-weight: 500;
    color: #ededed;
    margin-left:35px ;
    text-decoration: none;
    transition: .3s;
    }
    
    .navbar a:hover,
    .navbar a.active{
    color: #00abf0;
    }
    
    .home{
    height: 100vh;
    background: url(user6.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    padding: 0 10%;
    }
    
    .home-content{
    max-width: 600px;
    }
    
    .home-content h1{
    position: relative;
    font-size: 56px;
    width: 700;
    line-height: 1.2;
    }
    .home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
    
    }
    
    .home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700px;
    color: #00abf0;
    }
    
    .home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
    
    }
    
    .home-content p{
    position: relative;
    font-size: 16px;
    margin:20px 0 40px;
    }
    
    .home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
    
    }
    .home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
    }
    .home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
    
    }
    
    .btn-box a{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    }
    
     .btn-box a:hover{
      color: #00abf0;
     }
    .btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
    }
    .btn-box a:nth-child(2):hover{
      color: #081b29;
    }
    .btn-box a:nth-child(2)::before{
    background: #00abf0;
    }
    
    .btn-box a::before {
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height:100% ;
    background:#081b29;
    z-index: -1;
    transition: .5s;
    }
    
    .btn-box a:hover::before{
    width: 100%;
    } 

    
    .home-sci{
    position:absolute ;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-around;
    }
    
    .home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
    
    }
    
    .home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
    
    }
    .home-sci a:hover
    .home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    }
    .home-sci a:hover::before{
    width: 100%;
    }
    
    .home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    margin-left: 60px;
    height: 100%;
    transition: 3s;
    animation: manipActivehoverv 0.1s forwards;
    animation-delay: 4s;
    pointer-events: none;
    }
    
    .home-imgHover:hover
    .home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
    
    }
    
    @keyframes showRight {
    100%{
    width: 0;
    }
    }
    
    @keyframes manipActivehoverv {
    100%{
    pointer-events: auto;
    }
    }
    
 








    @media (max-width: 768px) {
        .header {
          padding: 15px 20px;
          flex-direction: column;
          align-items: flex-start;
        }
      
        .navbar {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      
        .home {
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 60px 20px 20px;
        }
      
        .home-content {
          max-width: 100%;
        }
      
        .home-content h1 {
          font-size: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
        }
      
        .home-content h3 {
          font-size: 34px;
        }
      
        .home-content p {
          font-size: 24px;
        }
      
        .btn-box {
          flex-direction: column;
          width: 100%;
          gap: 15px;
          justify-content: center; 
          align-items: center; 
        
        }
      
        .btn-box a {
          width: 100%;
          max-width: 300px;
        }
        .home-imgHover {
          position: relative;
          width: 100%;
          height: auto;
         
          margin-left: 0;
          margin-top: 20px;
        }
      
        .home-sci {
          position: static;
          margin-top: 30px;
          justify-content: center;
          width: 100%;
        }
      }
      

      /* Hide checkbox input */
.menu-toggle {
    display: none;
  }
  
  /* Hamburger icon */
  .menu-icon {
    display: none;
    font-size: 30px;
    color: #ededed;
    cursor: pointer;
    z-index: 200;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      background: #081b29;
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
      z-index: 150;
    }
  
    .navbar a {
      margin: 10px 0;
    }
  
    /* Show navbar when checkbox is checked */
    .menu-toggle:checked ~ .navbar {
      display: flex;
    }
  }
   
  
  /* ABOUT SECTION */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background:#112e42;
    /* padding-bottom: 9.5rem; */
    padding: 2rem 2rem 1rem;
}


.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
}

span{
    color: #00abf0;
}
.about-img{
   position: relative; 
   width: 18rem;
   height: 18rem;
   margin: auto;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.about-img img {
      width: 80%;
      object-fit: cover;
    height: 80%;
    border-radius: 50%;
    border: 0.2rem solid #00abf0;

    
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) rotate(0);
    height: 100%;
    border-radius: 50%;
     border-top: .2rem solid #112e42;
    border-bottom: .2rem solid #112e42;
    border-left: .2rem solid #00abfa;
    border-right: .2rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite;

}

.about-content{
    text-align: center;
    margin-bottom: 3rem;
}

.about-content h3{
    font-size:2.6rem ;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box a{
    position: relative;
display:inline-flex;
justify-content: center;
align-items: center;
width: 150px;
height: 100%;
background: #00abf0;
border: 2px solid #00abf0;
border-radius: 8px;
font-size: 19px;
color: #081b29;
text-decoration: n;
font-weight: 600;
letter-spacing: 1px;
z-index: 1;
overflow: hidden;
transition: .5s;
}


@keyframes aboutSpinner {  /* NOT aboutspinner */
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


  .skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: #112e42;
    padding: 5rem 2rem;


}

  .skills .heading {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem; 
    margin-top: 0;
  }
  
  
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}   

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 2.5rem;

    margin:0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: 2rem solid #00abfa;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}

.skills-content .progress{
    padding: 1rem ;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills {
  background: #0a192f;
  color: #fff;
  padding: 5rem 2rem;
}

.skills .heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.skills .heading span {
  color: #00abf0;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.skills-column {
  flex: 1 1 400px;
  max-width: 500px;
}

.skills-column .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-box {
  border: 2px solid #00abf0;
  border-radius: 10px;
  padding: 2rem;
}

.skills-content .progress {
  margin-bottom: 1.5rem;
}

.skills-content .progress h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
 
.skills-content .bar {
    height: 10px;
    background: #1f2b3a;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .skills-content .bar span {
    display: block;
    height: 100%;
    background: #00abf0;
    width: var(--width);
    transition: width 1s ease;
  }


  
  @keyframes fillBar {
    to {
      width: var(--width);
    }
  }
  
  


  @keyframes fillBar {
    to { width: var(--width, 100%); }
  }
  
  /* Circles */
  .skills-content.circles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .circle-progress {
    text-align: center;
  }
  
  .circle-progress svg {
    width: 80px;
    height: 80px;
    transform: rotate(-90deg);
  }
  
  .circle-progress circle {
    fill: none;
    stroke-width: 8;
    stroke: #1f2b3a;
    r: 35;
    cx: 40;
    cy: 40;
  }
  
  .circle-progress circle:nth-child(2) {
    stroke: #00abf0;
    stroke-dasharray: 179.91; /* 2Ï€r */
    stroke-dashoffset: calc(179.91 - (179.91 * var(--percent)) / 100);
    transition: stroke-dashoffset 1s ease;
  }
  
  .circle-progress h4 {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  

/* contact section */

  .contact {
    background: #112e42;
    padding: 2rem 1.5rem ;
     padding: 59px;
    color: #fff;

  }
  
  .contact .heading {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem; 
    margin-top: 0;        
  }
  
  .contact .heading span {
    color: #00abf0;
  }
  
  .contact form {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .input-field {
    flex: 1 1 45%;
    position: relative;
  }
  
  .input-field input {
    width: 100%;
    padding: 1rem;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    outline: none;
  }
  
  .textarea-field {
    position: relative;
  }
  
  .textarea-field textarea {
    width: 100%;
    padding: 1rem;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    resize: none;
    outline: none;
  }
  
  .textarea-field .focus {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #00abf0;
    transition: 0.3s;
  }
  
  .textarea-field textarea:focus ~ .focus {
    width: 100%;
  }
  
  
  .focus {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #00abf0;
    transition: 0.3s;
  }
  
  .input-field input:focus ~ .focus,
  .textarea-field textarea:focus ~ .focus {
    width: 100%;
  }
  
  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  
  }
  
  .btn-box .btn {
    background: #00abf0;
    color: #081b29;
    border: 2px solid #00abf0;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .btn-box .btn:hover {
    color: #00abf0;
    background: transparent;
  }
  
  .btn-box .btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
  }
  
  .btn-box .btn:hover::before {
    width: 100%;
  }